<html>
    <head>
        <title>Django blog</title>
    </head>
    <body
        <div>
            <h1><strong>Django Girls HMO</strong></h1>
        </div>

        <div>
          <p><strong>Hi there!</strong></p>
          <p><strong>It works!</strong></p>
        </div>

        <div>
            <h1><a href="">Información personal</a></h1>
            <p>Nombre: <em>Karen Martínez</em></p>
            <p>Edad: <em>20 años</em></p>
            <p>Ciudad de origen: <em>Hermosillo</em></p>
            <p>Ocupación: <em>Estudiante</em></p>
            <p>Lugar trabajo/escuela: <em>ITH</em></p>
        </div>

        <div>
            <button>Salir</button>
        </div>
    </body>
</html>
