<html>
    <head>
        <title>Django blog</title>
    </head>
    <body
        <div>
            <h1><strong>Django Girls HMO</strong></h1>
        </div>

        {{ posts }}

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks}}</p>
            </div>
        {% endfor %}

        <div>
            <h1><a href="">Información personal</a></h1>
            <p>Nombre: <em>Karen Martínez</em></p>
            <p>Edad: <em>20 años</em></p>
            <p>Ciudad de origen: <em>Hermosillo</em></p>
            <p>Ocupación: <em>Estudiante</em></p>
            <p>Lugar trabajo/escuela: <em>ITH</em></p>
        </div>

        <div>
            <button>Salir</button>
        </div>
    </body>
</html>
